@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

body {
  background-image: url(https://i.ibb.co/tD3qrCf/5cec1c96-6807-449b-b317-5e9adf55ea9b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  /* height: 100%; */
  min-height: fit-content;
}

.color {
  width: 200px;
  height: 125px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.pressed {
  /* Add your pressed button style here */
  opacity: 0.6;
  /* Example: Reducing opacity to make it look pressed */
}

.pale-green {
  background-color: #363d21;
}

.glow-red {
  background-color: #ff0000;
}

.nolan-blue {
  background-color: #122746;
}

.carrera-blue {
  background-color: #1e2b47;
}

.shadowed-plum {
  background-color: #120b16;
}

.midnight-purple {
  background-color: #0e0117;
}

.galaxy-purple {
  background-color: #3503ff;
}

.dragon-fruit {
  background-color: #c52943;
}

.trippy-green {
  background-color: #00ff7f;
}

.orange-rx7 {
  background-color: #fb4e17;
}

.orange-370 {
  background-color: #ec2103;
}

.blood-orange {
  background-color: #d31a02;
}

.bright-green {
  background-color: #6beb34;
}

.whispering-lilac {
  background-color: #dad4ff;
}

.off-white {
  background-color: #dad3c6;
}

.yellow1 {
  background-color: #ffff00;
}

.blue1 {
  background-color: #0000ff;
}

.aqua {
  background-color: #00ffff;
}

.aquamarine {
  background-color: #7fffd4;
}

.chrome-yellow {
  background-color: #ffa700;
}

.sandy-yellow {
  background-color: #ffeead;
  /* Changed to the new color */
}
